/* BRONNEN 
ANIMATIE HEADER: https://vm.tiktok.com/ZGeF2uy31/
BACKGROUND IMAGE: https://www.instagram.com/reel/Cw117Q5rq_v/?igsh=eGcxODRnMTZvcjVq
*/

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

body {
	margin: 0;
	font-family: "Oxygen", sans-serif;
	background-color: #fbe63a;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 65px;
}

header {
	background-color: black;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	border-bottom: 5px solid white;
}

.menu {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	list-style: none;
	font-size: 20px;
}

.actief li a {
	color: #fbe63a;
}

li a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	border: none;
	background: none;
	font-weight: 600;
	font-family: "Oxygen", sans-serif;
}
li a::before {
	margin-left: auto;
}

li a::after,
li a::before {
	content: "";
	width: 0%;
	height: 2px;
	background: #fbe63a;
	display: block;
	transition: 0.5s;
}

li a:hover::after,
li a:hover::before {
	width: 100%;
}

.first {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 80px;
}

.first-text {
	flex: 1;
	padding-right: 50px;
	color: white;
	text-align: center;
}
.first-text h3 {
	margin-top: 5%;
	color: black;
}

.first-image {
	flex: 1;
	text-align: right;
}
.first-image img {
	width: 75%;
	height: 450px;
	border: 5px solid WHITE;
	border-radius: 10px;
	margin-right: 160px;
}

.first-text a {
	display: inline-block;
	background-color: black;
	padding: 10px 30px;
	border-radius: 20px;
	color: #fbe63a;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
	border: 3px solid white;
	font-weight: bold;
}

.first-text a::before {
	margin-left: auto;
}

.first-text a::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #fbe63a;
	display: block;
	transition: 0.5s;
}

.first-text a:hover::after {
	width: 100%;
}

.hobby {
	width: 100%;
	margin: 0 auto;
	background-color: black;
	position: relative;
	padding-bottom: 50px;
}

.info {
	color: #fff;
	width: 230%;
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}
.column-1 {
	display: flex;
	justify-content: center;
	background-image: url(Images/Fond.png);
	background-size: 3200px;
	background-repeat: no-repeat;
	background-position: -170px -135px;
}

.column-1 div {
	width: calc(50% - 20px);
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-right: 27.5%;
}

.column {
	display: flex;
	justify-content: center;
	background-color: black;
}

.column div {
	width: calc(50% - 20px);
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-right: 27.5%;
}

.hobby h3 {
	margin-bottom: 100px;
	color: #fbe63a;
}

.image {
	width: 230%;
	display: block;
	margin: 0;
	border: 5px solid white;
	border-radius: 10px;
}

.knowmore {
	background-color: #fbe63a;
	text-align: center;
	padding: 50px 0;
	padding-bottom: 5%;
	background-image: url(Images/Fond.png);
	background-position: -170px -680px;
	background-size: 2200px;
	background-repeat: no-repeat;
}
.knowmore h3 {
	margin-bottom: 50px;
	color: #fbe63a;
}
.knowmore a {
	display: inline-block;
	background-color: black;
	padding: 15px 30px;
	border-radius: 20px;
	color: #fbe63a;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
	border: 3px solid white;
	font-weight: bold;
}

.knowmore a::before {
	margin-left: auto;
}

.knowmore a::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #fbe63a;
	display: block;
	transition: 0.5s;
}

.knowmore a:hover::after {
	width: 100%;
}

/*lettertype*/
h2 {
	margin-left: 3%;
	font-size: 25px;
	width: 90%;
	font-weight: bold;
}

p {
	font-size: 25px;
	width: 100%;
	font-weight: bold;
	text-align: left;
}

h4 {
	font-size: 30px;
	font-weight: bold;
	color: #fbe63a;
	width: 470px;
	text-align: left;
}

h3 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.rotate {
	background-image: url(Images/Fond.png);
	background-position: -300px 580px;
	background-size: 2200px;
	background-repeat: no-repeat;
	height: 900px;
	margin-bottom: -150px;
	width: 100%;
}

.rotate h3 {
	margin-top: 30px;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 16px;
		overflow-x: hidden;
	}
	.menu {
		display: none;
	}

	.menu-toggle {
		display: block;
		cursor: pointer;
		color: white;
		font-size: 24px;
		position: fixed;
		top: 15px;
		left: 20px;
		z-index: 1000;
	}

	.menu.active {
		display: flex;
		flex-direction: column;
		background-color: black;
		position: fixed;
		top: 0px;
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}
	.first-image img,
	.image {
		width: 100%;
		height: auto;
		margin-right: 0;
	}

	.first {
		padding: 20px;
		margin-bottom: 50px;
	}

	.first-text {
		padding-right: 20px;
	}

	.knowmore {
		padding: 30px 0;
		background-image: none;
	}

	.knowmore h3 {
		margin-bottom: 30px;
		color: black;
	}

	.knowmore a {
		font-size: 20px;
		padding: 10px 20px;
	}

	h2,
	p {
		font-size: 18px;
	}

	h3 {
		font-size: 33px;
	}

	.column,
	.column-1 {
		width: 100%;
		flex-direction: column;
		background-image: none;
		background-color: black;
	}
	.column div,
	.column-1 div {
		width: 90%;
		max-width: 100%;
		margin-bottom: 20px;
		text-align: center;
		margin-top: 50px;
		margin-left: 15px;
	}

	.column div p,
	.column-1 div p {
		width: 45%;
		text-align: center;
	}
	.column div h4,
	.column-1 div h4 {
		width: 100%;
		text-align: center;
	}

	.rotate {
		height: auto;
		padding-bottom: 20px;
		background-position: center center;
		background-image: none;
	}

	.first-text a {
		padding: 10px 10px;
		font-size: 20px;
		margin-top: 20px;
	}
	.first-image img {
		margin-top: 100px;
	}
}

/*PAGINA MORE*/

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

body.more-page {
	margin: 0;
	font-family: "Oxygen", sans-serif;
	background-color: black;
}

header {
	background-color: black;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	border-bottom: 5px solid white;
}

.menu {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	list-style: none;
	font-size: 20px;
}

li a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	border: none;
	background: none;
	font-weight: 600;
	font-family: "Oxygen", sans-serif;
}

li a::before {
	margin-left: auto;
}

li a::after,
a::before {
	content: "";
	width: 0%;
	height: 2px;
	background: #fbe63a;
	display: block;
	transition: 0.5s;
}

li a:hover::after,
li a:hover::before {
	width: 100%;
}

.wrapper-1 {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

.separator {
	width: 100%;
	border-bottom: 2px solid white;
	margin-bottom: 50px;
}

.more {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
	font-weight: bold;
	color: #f2c96c;
	background-image: url(Images/Trou\ 1.png);
	background-position: left;
	background-size: 250px;
	background-repeat: no-repeat;
}
.more-background {
	background-image: url(Images/Trou\ 2.png);
	background-position: right 10px;
	background-size: 300px;
	background-repeat: no-repeat;
}
.more img {
	width: 22%;
	height: 350px;
	border: 5px solid white;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
}
.more p {
	margin-top: 50px;
	font-size: 25px;
	color: white;
	width: 80%;
	margin-left: 10%;
	text-align: center;
}

.more h1 {
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: bold;
	color: #fbe63a;
	display: inline-block;
}
.poster {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 100px;
	font-weight: bold;
}

.poster-text {
	flex: 1;
	padding-right: 20px;
}

.poster-image {
	flex: 1;
	text-align: center;
	border: 2px solid white;
}

.poster-image img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.poster-text h1 {
	font-size: 50px;
	color: #fbe63a;
	font-weight: bold;
}

.poster-text P {
	font-size: 25px;
	color: white;
	font-weight: bold;
	width: 75%;
}

.cv {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 100px;
	font-weight: bold;
}

.cv-text {
	flex: 1;
	padding-right: 20px;
	color: white;
	text-align: right;
}
.cv h1 {
	font-size: 50px;
	color: #fbe63a;
}
.cv p {
	font-size: 25px;
	color: white;
	font-weight: bold;
	text-align: right;
}

.cv-image {
	flex: 1;
	text-align: center;
}

.cv-image img {
	max-width: 60%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.contact {
	text-align: center;
	margin-top: 100px;
	background-image: url(Images/Griffe\ 1.png);
	background-position: 50px 0px;
	background-size: 350px;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}

.contact-title {
	font-size: 50px;
	color: #fbe63a;
	margin-bottom: 20px;
}

.contact-info {
	text-align: CENTER;
	font-size: 25px;
	color: white;
	font-weight: bold;
	margin-top: 50px;
}
.contact-info p {
	text-align: center;
}
.contact-info a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	border: none;
	background: none;
}

.poster-cv {
	background-image: url(Images/Trou\ 3.png);
	background-position: 500px 20px;
	background-size: 600px;
	background-repeat: no-repeat;
}

.contact-griffe {
	background-image: url(Images/Griffe\ 2.png);
	background-position: 900px 0px;
	background-size: 350px;
	background-repeat: no-repeat;
}
.menu-toggle {
	display: none;
	cursor: pointer;
	color: white;
	font-size: 24px;
}

@media only screen and (max-width: 768px) {
	.menu {
		display: none;
	}

	.menu-toggle {
		display: block;
		cursor: pointer;
		color: white;
		font-size: 24px;
		position: fixed;
		top: 15px;
		left: 20px;
		z-index: 1000;
	}

	.menu.active {
		display: flex;
		flex-direction: column;
		background-color: black;
		position: fixed;
		top: 0px;
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}

	.more {
		background-image: url(Images/Trou\ 1.png);
		background-position: left;
		background-size: 250px;
		background-repeat: no-repeat;
	}

	.more-background {
		background-image: none;
	}

	.more img {
		width: 80%;
		height: auto;
	}

	.more p {
		font-size: 19px;
		width: 100%;
		margin-left: 0;
	}

	.contact {
		background-image: none;
	}
	.contact p {
		font-size: 20px;
	}
	.contact a {
		font-size: 20px;
	}
	.wrapper-1 {
		max-width: 100%;
		overflow-x: hidden;
		box-sizing: border-box;
	}

	.poster-cv {
		background-image: url(Images/Trou\ 3.png);
		background-position: 200px 450px;
		background-size: 100px;
		background-repeat: no-repeat;
	}

	.contact-griffe {
		background-image: none;
	}
	.cv {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		margin-bottom: 100px;
		font-weight: bold;
		background-image: url(Images/Trou\ 2.png);
		background-position: 250px 200px;
		background-size: 100px;
		background-repeat: no-repeat;
	}

	.cv-image {
		text-align: center;
		margin-bottom: 20px;
		margin-left: 10px;
	}
	.cv-text {
		text-align: center;
		margin-left: 10px;
	}

	.cv-text p {
		text-align: center;
		color: white;
		font-size: 18px;
		margin-left: 10px;
	}
	.poster {
		display: flex;
		flex-direction: column;
		margin-top: 100px;
		margin-bottom: 100px;
		font-weight: bold;
		text-align: center;
	}

	.poster-image {
		text-align: center;
	}
	.poster-text h1 {
		margin-left: 15px;
	}
	.poster-text p {
		text-align: center;
		color: white;
		width: 100%;
		font-size: 19px;
		margin-left: 10px;
	}
}
