@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

body {
	margin: 0;
	font-family: "Oxygen", sans-serif;
	background-color: black;
}

header {
	background-color: black;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	border-bottom: 5px solid white;
}

.menu {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	list-style: none;
	font-size: 20px;
}

li a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	border: none;
	background: none;
	font-weight: 600;
	font-family: "Oxygen", sans-serif;
}

li a::before {
	margin-left: auto;
}

li a::after,
a::before {
	content: "";
	width: 0%;
	height: 2px;
	background: #f2c96c;
	display: block;
	transition: 0.5s;
}

li a:hover::after,
li a:hover::before {
	width: 100%;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

.separator {
	width: 100%;
	border-bottom: 2px solid white;
	margin-top: 50px;
	margin-bottom: 50px;
}

.more {
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 50px;
	font-weight: bold;
	color: #f2c96c;
}
.more img {
	width: 25%;
	border: 5px solid white;
	border-radius: 30% 30%/ 80% 80%;
}
.more p {
	font-size: 25px;
	color: white;
}

.poster {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 100px;
	font-weight: bold;
}

.poster-text {
	flex: 1;
	padding-right: 20px;
}

.poster-image {
	flex: 1;
	text-align: center;
	border: 2px solid white;
}

.poster-image img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.poster-text h1 {
	font-size: 50px;
	color: #f2c96c;
	font-weight: bold;
}

.poster-text h2 {
	font-size: 30px;
	color: white;
	font-weight: normal;
	width: 90%;
}

.cv {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 100px;
	font-weight: bold;
}

.cv-text {
	flex: 1;
	padding-right: 20px;
	color: white;
	text-align: right;
}
.cv h3 {
	font-size: 50px;
	color: #f2c96c;
}

.cv-image {
	flex: 1;
	text-align: center;
}

.cv-image img {
	max-width: 60%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.contact {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 50px;
}

.contact-title {
	font-size: 40px;
	color: #f2c96c;
	margin-bottom: 20px;
}

.contact-info {
	text-align: CENTER;
	font-size: 25px;
	color: white;
}

.contact-info a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	border: none;
	background: none;
}
